<div mat-dialog-title>
    <h1>Formulario Cliente</h1>
</div>
<form [formGroup]="emForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field >
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Alexander" formControlName="name">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Apellido</mat-label>
            <input matInput type="text" placeholder="Cortez" formControlName="lastname">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field >
            <mat-label>Correo</mat-label>
            <input matInput type="text" placeholder="test@gmail.com" formControlName="email">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="987654321" formControlName="phone">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field >
            <mat-label>Direccion</mat-label>
            <input matInput type="text" placeholder="Av..." formControlName="address">
        </mat-form-field>       
    </div>        
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" class="cancelar" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" class="enviar">{{data ? 'Update' : 'Save'}}</button>
</div>
</form>